<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informacion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="./static/css/in.css" type="text/css">
</head>
<body>

<div class="navegacion">
<nav class="navbar ">



    <a class="nav-link active" aria-current="page" href="/"><h2>Inicio</h2></a>

    <a class="nav-link" href="/formula"><h2>Registro</h2></a>

    <a class="nav-link" href="#"><h2>...</h2></a>

</nav>

</div>





<div class="container1">
  <p>
    El alpinismo es la más antigua y completa de las modalidades deportivas de montaña. Podría definirse como la acción de subir montañas, pero siempre por afán de superación, como respuesta a un impulso personal distinto en cada persona o por el placer de alcanzar una cima y observar el terreno que se abre ante los ojos.

El montañismo como deporte surge en el siglo XVIII, cuando Jacques Balmat y Michel-Gabriel Paccard alcanzaban por primera vez la cima de Mont Blanc, la cumbre más alta de los Alpes, con 4.810 m, toda una proeza para la época.

Poco a poco el alpinismo ha ido evolucionando, hasta el concepto actual. Hoy en día el buen alpinista tiene que saber esquí de montaña, escalar en roca, hielo o terreno mixto (aquel que combina roca y hielo). Además, necesitará nociones de orientación. Pero empecemos por lo básico. ¿Qué necesitas para iniciarte?

  </p>

  <img src="./static/images/alp.jpg" >
    <p>
        Preparación física
El alpinismo, entendido en puridad, es quizás el deporte más exigente, tanto física como técnicamente. Para afrontar el Alpinismo es importante tener resistencia y fondo. Hay que estar preparado física y mentalmente para afrontar el frío y otras condiciones meteorológicas duras.

Es importante acercarse a la montaña sin miedo pero con el suficiente respeto tanto en el tema de mantenerla limpia e inalterable como en el de no sobrevalorar nuestras capacidades a la hora de afrontar los retos que nos propone.

Puedes empezar a correr dos días por semana e ir incrementando hasta aguantar una hora. Dedica un par de días más a realizar ejercicios de fuerza sobretodo para piernas (flexiones de piernas, pequeños saltos, gemelos, etc.) y alguno de brazos (flexiones en el suelo) para compensar. Incluye también algunos abdominales.

Aparte de esto, y para ir acostumbrándote a las botas, no estaría de más hacer una buena caminata a la semana acompañado de alguien que comparta contigo el gusto por la montaña. Acostúmbrate a llevar una mochila de unos 30 kg como la que utilizarás en Alta Montaña. Mientras estés caminando intenta coger un ritmo de marcha en el que te sientas cómodo, sin grandes cambios.


    </p>
<img src="./static/images/mon.jpg" >
    <p>
Material Necesario
En primer lugar, calidad y peso, estos dos factores deciden en buena mediad el éxito de nuestra iniciativa, sin un material que cumpla unos requisitos mínimos en cuanto a la composición de la ropa y elementos técnicos a utilizar, tendremos asegurado el abandono a la primera de cambio o el riesgo añadido de un accidente innecesario.

El equipo personal, ropa de abrigo y calzado tiene que tener en cuenta las condiciones climatológicas, la dificultad del reto elegido, y un entorno, sobre todo en temporada invernal, hostil. En consecuencia, los cortavientos, forros, pantalones y demás que tengamos pensado utilizar tienen que estar confeccionados con materiales termo protectores, aislantes, y con la elasticidad suficiente, la resistencia a las rozaduras y abrasión adecuadas al entorno. Nos vestiremos por capas, ligeras y abrigosas y malla de fibra térmica.
        Otros complementes de equipo personal:

Guantes ligeros + guantes calientes
Gorro o cinta polar
Protección solar y gafas de sol. En alta montaña la exposición a la radiación solar es más elevada debido a la altitud y  al efecto espejo del hielo y la nieve.
Botiquín de primeros auxilios individual
Alimentación energética
Cantimplora
Navaja
Botas de alpinismo calientes, impermeables y cramponables
Polainas para nieve.


Pack de rescate D.V.A. compuesto por:

Arva. Dispositivo que emite señales continuamente para la búsqueda de víctimas de avalanchas.
Pala. Para retirar la nieve que nos permita llegar hasta la persona a quien buscamos.
Sonda. Para determinar con precisión la localización y la profundidad a la que está enterrada la víctima.
    </p>
<img src="./static/images/ml.jpg" >
</div>

</body>
</html>