<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="./static/css/principal.css" type="text/css">
</head>
<body>

<div class="navegacion">
<nav class="navbar ">

<div class="tr text-start text-white-50">
    <h2>Travelike.com</h2>
</div>

    <a class="nav-link active" aria-current="page" href="/inf"><h2>Informacion</h2></a>

    <a class="nav-link" href="/formula"><h2>Registro</h2></a>

    <a class="nav-link" href="#"><h2>...</h2></a>

</nav>

</div>

<div class="cab">
    <img src="./static/images/alp.jpg" alt="" width="100" height=100" class="d-inline-block align-text-center">

</div>


<div class="footer">
    <img src="./static/images/ml.jpg" alt="" width="100" height=100" class="d-inline-block align-text-center">

</div>

</body>
</html>